/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '~@angular/material/theming';


$custom-typography: mat-typography-config(
  $font-family: 'farsi',
);
@include mat-core($custom-typography);
*{    
    font-size: 1.0rem;
}






@font-face {
    font-family: 'farsi' ;
    src: url('./assets/fonts/FarCompset.woff');
}